body {
    margin: 0;
    overflow: hidden;

}

* {
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.background {
    background-image: linear-gradient(rgb(142, 38, 103), rgb(151, 64, 119));
    overflow: hidden;
    top: 0;
}
.container {
    display: grid;
    grid-template-columns: calc(100% - 60%) auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("https://marinamuse.netlify.app//WaterOverlay.png");
}

.image-sidebar {
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgb(252, 158, 217),rgb(254, 87, 193)); 
    border-right: 0.25vh solid rgb(255, 185, 229);

}

.image-sidebar > img {
    width: calc(35%);
    border: 1vh solid white;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0,0,0,.3);
    background-image: linear-gradient(rgb(252, 158, 217),rgb(254, 87, 193));
}

.form-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 50px;
    
}

.form-header {
    grid-column: 1/-1;
    color: white;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .05em;

}

.input-container {
    position: relative;
}

input {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1px solid rgb(66, 53, 61);
    border-radius: 5px;
    padding: 6px 6px 6px 10px;
    padding-right: 40px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.759);
}

input:focus {
    outline:none;
    border: 1px solid rgb(255, 185, 229);
    box-shadow: 8px 8px 5px rgb(0,0,0,.3);
}

span {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    letter-spacing: 0.05em;
    transition: all 0.5s;
}

input:focus ~ span,
input:valid ~ span{
    font-size: 10px;
    transform: translateX(4px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 6px;
    color: var(--cyny-green);
    background-color: rgb(252, 158, 217);
    color: white;
    border-radius: 2px;
}
input:focus,
input:focus-visible {
    border: 1px solid  rgb(252, 158, 217);
    box-shadow: 0 0 5px rgb(0,0,0,.3);
    outline: none;
}
input:valid {
    border: 1px solid rgb(252, 158, 217);  
}

button {
    background-color: rgb(151,121,211);
    height: 50px;
    width: fit-content;
    box-shadow: 0 0 5px rgb(0,0,0,.3);
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px 15px;
}